<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ironblog latest post</title>
</head>
<body>
  <div>
    <h1>Ironblog</h1>
  </div>
  <div>
    <form action="/" method="POST">
      <button type="submit" name="new_post">New post</button>
    </form>
  </div>
  <div>
    <div>
      <% @posts.each_with_index do |post, index| %>
        <a href="/post_details/<%= index %>"><%= post.title %></a>
        <h3><%= post.date.strftime(@time_format) %></h3>
        <% end %>
    </div>
  </div>
</body>
</html>