<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ironblog latest post</title>
</head>
<body>
  <div>
    <h1>Ironblog</h1>
  </div>
  <div>
    <div>
      <% @my_posts.each do |post| %>
        <h2><%= post.title %></h2>
        <h3><%= post.date.strftime(@time_format) %></h3>
        <p><%= post.text  %></p>
        <% end %>
    </div>
  </div>
</body>
</html>