<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New post</title>
</head>
<body>
  <div>
  <h1>New post</h1>
    <div>
      <form action="/new_post" method="POST">
        <input type="text" label="Title post" placeholder="Title Post" name="title">
        <input type="text" label="Text post" placeholder="Text Post" name="text">
        <button type="submit" name="add_post"></button>

      </form>
    </div>
  </div>
</body>
</html>