<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login</title>

  </head>
  <body>

  <form action="/profile_page" method="POST">
    <input type="text" name="user" placeholder="User" label="User name">
    <input type="text" name="password" placeholder="Password" label="User Password">



  </form>
    




  </body>
</html>